/**
 * Creative typografy
 */

.single-example {border-bottom:1px dotted #c7c7c7;margin:0 auto 60px;padding-bottom:60px;padding-top:40px;}
.single-example__dark {background:#111111;}
.title {text-align:center;margin-bottom:24px;}
.single-example__dark .title {color:#f7f7f7;}
.heart-path {cursor:pointer;transition:fill 200ms;}
.text-svg-wrapper {margin:0 auto;max-width:600px;width:100%;}
.love {fill:#ff6666;}

.heart-logo-wrapper {
  text-align: center;
}
.heart-logo {
  cursor: pointer;
  display: inline-block;
   &:hover {
    .heart-path {
      fill:#3E7CBB;
    }
  }
}
.heart-svg-wrapper,
.heart-text {
  display: inline-block;
  vertical-align: middle;
}
.heart-svg-wrapper {
  width: 32px;
}
.heart-text {
  font-size: 21px;
  position: relative;
  top: -3px;
}
